{% extends "master.html" %}
{% block about_active %} active{% endblock %}

{% block content %}

{% from 'macros.html' import on_image_description %}
{{ on_image_description('About ESFE', 'About us') }}

<div class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-2" data-aos="fade-up" data-aos-delay="100">
                <figure class="img-dotted-bg">
                    <img src="{{ url_for('static',filename='images/hero_2.jpg') }}" alt="Image" class="img-fluid">
                </figure>
            </div>
            <div class="col-md-5 mr-auto" data-aos="fade-up" data-aos-delay="">
                <h2 class="mb-4 section-title">Company Purpose</h2>
                <p>ESFE was founded to find other economy sharing concepts and realize them with limited resources.
                </p>
                <p>We strive to explore these concepts with in-depth research and newest technologies on the market. </p>
            </div>
        </div>
    </div>
</div>

{% from 'macros.html' import show_leaders %}
{{ show_leaders(text.about.leaders) }}
<!-- END section -->

<div class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <figure class="img-dotted-bg">
                    <img src="{{ url_for('static',filename='images/about_2.jpg') }}" alt="Image" class="img-fluid">
                </figure>
            </div>
            <div class="col-md-5 ml-auto" data-aos="fade-up" data-aos-delay="">
                <h2 class="mb-4 section-title">Who We Are?</h2>
                <p>ESFE was founded by a group of software engineers, entrepreneurs, and students.</p>
                <p>We work and study on weekdays and gather together on weekends to explore crazy ideas. </p>
            </div>
        </div>
    </div>
</div>

{% from 'macros.html' import people_list %}
{{ people_list(text.team) }}

{% endblock %}