{% extends "master.html" %}
{% block home_active %} active{% endblock %}

{% block content %}

<div class="slider-item overlay" data-stellar-background-ratio="0.5"
     style="background-image: url({{ url_for('static',filename='images/hero_2.jpg') }});">
    <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
            <div class="col-lg-12 text-center col-sm-12">
                <h1 class="mb-4" data-aos="fade-up" data-aos-delay="100">We explore things those could benefit others.</h1>
            </div>
        </div>
    </div>
</div>

{% from 'macros.html' import services_main_page %}
{{ services_main_page(text.home.services) }}

{% from 'macros.html' import show_case_projects %}
{{ show_case_projects(text.projects, 'Our Projects', 'Take a look at our various projects on different fields.') }}

{% from 'macros.html' import people_list %}
{{ people_list(text.team) }}

<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 ml-auto pl-lg-4 mb-5 order-2">

                <img src="{{ url_for('static',filename='images/about_2.jpg') }}" alt="Image" class="img-fluid mb-5">

                <span class="d-block text-uppercase text-primary">About US</span>
                <h2 class="mb-4 section-title">Explore the Unknown</h2>
                <p>We've seen how sharing economy has impacted all industries and reduced average cost in all of them.
                    So we would like to explore more of those and charge nothing from users.</p>
                <p class="mb-5">Join and help us in making the world a better and more affordable place!</p>
                <p><a href="#" class="btn btn-outline-black">Learn More</a></p>
            </div>
            <div class="col-lg-6 order-1">
                <figure class="img-dotted-bg">
                    <img src="{{ url_for('static',filename='images/about_1.jpg') }}" alt="Image" class="img-fluid">
                </figure>

            </div>
        </div>
    </div>
</div>

{% from 'macros.html' import get_started %}
{{ get_started() }}

{% endblock %}