<!--the sliding section of people-->
{% macro people_list(people) %}
<div class="section bg-light block-11">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center">
                <h2 class="mb-4 section-title">Our Team</h2>
            </div>
        </div>
        <div class="nonloop-block-11 owl-carousel">

            {% for person in people %}
            <div class="item">
                <div class="block-33 h-100">
                    <div class="vcard d-flex mb-3">
                        <div class="image align-self-center"><img
                                src="{{ url_for('static',filename='images/' + person.image) }}" alt="Person here"></div>
                        <div class="name-text align-self-center">
                            <h2 class="heading">{{ person.name }}</h2>
                            <span class="meta">{{ person.title }}</span>
                        </div>
                    </div>
                    <div class="text">
                        <blockquote>
                            <p>{{ person.description }}</p>
                        </blockquote>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endmacro %}

<!--the get in touch section in index page-->
{% macro get_started() %}
<div class="bg-primary py-5">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h3 class="text-white mb-2 font-weight-normal">Get Started</h3>
                <p class="text-white mb-4">Reach out to us to work with us. :)</p>

                <p class="mb-0" data-aos="fade-up" data-aos-delay="200"><a href="/contact"
                    class="btn btn-outline-white px-4 py-3">Get In Touch!</a></p>
            </div>
        </div>

    </div>
</div>
{% endmacro %}

<!--The service side from index page-->
{% macro services_main_page(services) %}
<div class="section">
    <div class="container">
        <div class="row">

            {% for service in services %}
            <div class="col-lg-3 mb-4">
                <div class="service text-center" data-aos="fade-up" data-aos-delay="">
                    <span class="icon {{ service.icon }} mb-4 d-block"></span>
                    <h3>{{ service.name }}</h3>
                    <p>{{ service.description }}</p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endmacro %}

<!--this macro shows all selected projects-->
{% macro show_case_projects(projects, title, description) %}
<div class="section portfolio-section">
    <div class="container">
        <div class="row mb-5 justify-content-center" data-aos="fade-up">
            <div class="col-md-8 text-center">
                <h2 class="mb-4 section-title">{{ title }}</h2>
                <p>{{ description }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mb-5 no-gutters">

            {% for key in projects %}
            <div class="col-sm-6 col-md-6 col-lg-6" data-aos="fade" data-aos-delay="100">
                <a href="/portfolio/{{ projects[key].link }}" class="work-thumb">
                    <div class="work-text">
                        <h2>{{ projects[key].name }}</h2>
                        <p>{{ projects[key].type }}</p>
                    </div>
                    <img src="{{ url_for('static',filename='images/' + projects[key].image) }}" alt="Image" class="img-fluid">
                </a>
            </div>
            {% endfor %}

        </div>

    </div>
</div>
{% endmacro %}

<!--this macro shows all selected projects-->
{% macro on_image_description(description, page) %}
<div class="slider-item overlay" data-stellar-background-ratio="0.5"
     style="background-image: url({{ url_for('static',filename='images/hero_2.jpg') }});">
    <div class="container">
        <div class="row slider-text align-items-center justify-content-center text-center">
            <div class="col-lg-12 col-sm-12">
                <h1 class="mb-4" data-aos="fade-up" data-aos-delay="">{{ description }}</h1>
                <p class="custom-breadcrumbs" data-aos="fade-up" data-aos-delay="100"><a href="/">Home</a>

                    <span class="mx-3">/</span>{{ page }}</p>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

<!--this macro shows leaders on about page-->
{% macro show_leaders(leaders) %}
<div class="section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center" data-aos="fade-up" data-aos-delay="">
                <h2 class="mb-4 section-title">The Leadership</h2>
            </div>
        </div>
        <div class="row">

            {% for leader in leaders %}
            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
                <div class="media d-block media-custom text-center">
                    <a href="{{ leader.link }}"><img src="{{ url_for('static',filename='images/' + leader.image) }}"
                                     alt="Image Placeholder" class="img-fluid"></a>
                    <div class="media-body">
                        <h3 class="mt-0 text-black">{{ leader.name }} / {{ leader.title }}</h3>
                        <p>{{ leader.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endmacro %}

<!--this macro shows services on service page-->
{% macro show_services(services) %}
<div class="section">
    <div class="container">
        <div class="row">

            {% for service in services %}
            <div class="col-lg-4 col-md-6 mb-5 text-center" data-aos="fade-up" data-aos-delay="">
                <div class="service">
                    <span class="icon {{ service.icon }} mb-4 d-block"></span>
                    <h3>{{ service.name }}</h3>
                    <p>{{ service.description }}</p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endmacro %}