<!DOCTYPE html>
<html lang="en">

<head>
    <title>ESFE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{{ url_for('static',filename='images/esfe.jpeg') }}">

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface:400,400i|Roboto+Mono&display=swap"
          rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/animate.css') }}">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/ionicons/css/ionicons.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/fontawesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/flaticon/font/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/aos.css') }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>

<header role="banner">
    <nav class="navbar navbar-expand-lg  bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand " href="/">ESFE</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav pl-md-5 ml-auto">
                    <li class="nav-item">
                        <a class="nav-link{% block home_active %}{% endblock %}" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% block about_active %}{% endblock %}" href="/about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link{% block service_active %}{% endblock %}" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% block project_active %}{% endblock %}" href="/portfolio">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% block contact_active %}{% endblock %}" href="/contact">Contact</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>
<!-- END header -->

{% block content %}{% endblock %}

<footer class="site-footer" role="contentinfo">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4 mb-5">
                <h3 class="mb-4">About Us</h3>
                <p class="mb-5">ESFE was founded aiming to explore economy sharing opportunities to benefit the society.</p>


            </div>
            <div class="col-md-3 ml-auto">

                <h3 class="mb-4">Navigation</h3>
                <ul class="list-unstyled footer-link">
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>


            </div>
            <div class="col-md-3 mb-5">
                <ul class="list-unstyled footer-link d-flex footer-social">
<!--                    <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>-->
<!--                    <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>-->
                    <li><a href="https://linkedin.com/company/esfe" class="p-2"><span class="fa fa-linkedin"></span></a></li>
<!--                    <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>-->
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-12 text-md-center text-left">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart text-danger"
                                                                        aria-hidden="true"></i> by <a
                        href="https://colorlib.com" target="_blank">Colorlib</a> and modified by ESFE
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- END footer -->

<!-- loader -->
<div id="loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#ffc107"/>
    </svg>
</div>

</body>

<script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.fancybox.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.stellar.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/aos.js') }}"></script>
<script src="{{ url_for('static',filename='js/main.js') }}"></script>

</html>