{% extends "master.html" %}
{% block project_active %} active{% endblock %}

{% block content %}

{% from 'macros.html' import on_image_description %}
{{ on_image_description(project['name'], project['name']) }}

<div class="section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-7">
                <a href="{{ url_for('static',filename='images/' + project['image1']) }}" class="mb-3 d-block" data-fancybox="gal">
                    <img src="{{ url_for('static',filename='images/' + project['image1']) }}" alt="Image" class="img-fluid">
                </a>
                <a href="{{ url_for('static',filename='images/' + project['image2']) }}" class="mb-3 d-block" data-fancybox="gal">
                    <img src="{{ url_for('static',filename='images/' + project['image2']) }}" alt="Image" class="img-fluid">
                </a>
                <a href="{{ url_for('static',filename='images/' + project['image3']) }}" class="d-block" data-fancybox="gal">
                    <img src="{{ url_for('static',filename='images/' + project['image3']) }}" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="col-lg-4 ml-auto">
                <div class="">
                    <h3 class="mb-4">Project Details</h3>
                    <p>{{ project['description'] }}</p>

                    <ul class="list-unstyled mb-5">
                        <li>
                            <strong class="d-block text-black">Product Vision:</strong>
                            {{ project['vision'] }}
                        </li>
                        <p></p>
                        <li class="mb-3">
                            <strong class="d-block text-black">Owner:</strong>
                            {{ project['owners'] }}
                        </li>
                        <p></p>
                        <li class="mb-3">
                            <strong class="d-block text-black">Contributors:</strong>
                            {{ project['contributors'] }}
                        </li>
                    </ul>

                    {% if project['available'].ios_link != '' %}
                        <p>
                            <a href="{{ project['available'].ios_link }}"
                               target="_blank"
                              class="btn btn-outline-black ">Download IOS Version
                            </a >
                        </p>
                    {% endif %}

                    {% if project['available'].android_link != '' %}
                        <p>
                            <a href="{{ project['available'].android_link }}"
                               target="_blank"
                              class="btn btn-outline-black ">Download Android Version
                            </a >
                        </p>
                    {% endif %}

                    {% if project['available'].download_link != '' %}
                        <p>
                            <a href="{{ project['available'].download_link }}"
                               target="_blank"
                              class="btn btn-outline-black ">Download
                            </a>
                        </p>
                    {% endif %}

                    {% if project['available'].visit_link != '' %}
                        <p>
                            <a href="{{ project['available'].visit_link }}"
                               target="_blank"
                              class="btn btn-outline-black ">Visit Site
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>


{% from 'macros.html' import get_started %}
{{ get_started() }}

{% endblock %}